// header=====================================================================================================
.header {
    font-size: 1rem;
    letter-spacing: 0;
    background-color: rgba(255, 255, 255, .5);
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 100;

    #hamburger-btn-check {
        display: none;
    }
    @media (min-width:980px) {
        position: relative;
        background-color: rgba(255, 255, 255,.2);
    }

    &-wrapper {
        height: 80px;
        @include flex;
        align-items: center;
    }
    &-left {
        &__logo {
            font-size: 1.5em;
        }
    }
    &-right {
        &__hamburger {
            position: relative;
            height: 80px;
            width: 32px;
            @media (min-width:980px) {
                display: none;
            }

            .hamburger-btn {
                display: block;
                width: 32px;
                height: 19px;
                // ボタンの押せる領域を設定する
                cursor: pointer;
                position: absolute;
                top:30.5px;
                left: 0;
                &__line , &__line:before , &__line:after {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 32px;
                    background-color: #000;
                    position: absolute;
                }
                &__line {
                    top: 50%;
                }
                &__line:before {
                    bottom: 8px;
                }
                &__line:after {
                    top: 8px;
                }
            }
            .hamburger-content {
                margin-top: 80px;
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 100%;
                z-index: 80;
                background-color: #06131B;
                transition: all 1.0s;/*アニメーション設定*/
                overflow: scroll;

                ul {
                    padding: 70px 10px;
                    li {
                        border-bottom: solid 1px #ffffff;

                        a {
                            display: block;
                            width: 100%;
                            font-size: 1.2rem;
                            box-sizing: border-box;
                            color:#ffffff;
                            text-decoration: none;
                            padding: 30px 15px 30px 0;
                            position: relative;
                            text-align: center;

                            &::before {
                                content: "";
                                width: 10px;
                                height: 10px;
                                border-top: solid 2px #ffffff;
                                border-right: solid 2px #ffffff;
                                transform: rotate(45deg);
                                position: absolute;
                                right: 11px;
                                top: 38px;
                            }
                        }
                    }
                }
            }
        }
        &__nav {
            display: none;

            @media (min-width:980px) {
                display: block;
                line-height: 40px;
                ul {
                    @include flex;
                }
                li {
                    margin-left: 30px;
                    a {
                        transition: all .5s;
                        &:hover {
                            color: rgba(0, 0, 0, 0.3);
                        }
                    }
                }
            }
        }
    }
}
#hamburger-btn-check:checked ~ .hamburger-btn .hamburger-btn__line {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#hamburger-btn-check:checked ~ .hamburger-btn .hamburger-btn__line::before {
    bottom: 0;
    transform: rotate(45deg);
}
#hamburger-btn-check:checked ~ .hamburger-btn .hamburger-btn__line::after {
    top: 0;
    transform: rotate(-45deg);
}
#hamburger-btn-check:checked ~ .hamburger-content {
    left: 0;/*メニューを画面内へ*/
}