// interior===============================================================
/* interior */
.interior {
    font-size: 1rem;
    @include background-gradient();

    padding: 60px 0 60px;
    @media (min-width:520px) {
        padding: 70px 0 70px;
    }
    @media (min-width:980px) {
        padding: 80px 0 80px;
    }

    &-title {
        text-align: center;
        @include section-title;
    }

    &-text {
        text-align: center;
        margin: 30px 0;
        @media (min-width:520px) {
            margin: 40px 0;
        }
    }

    &-carousel {
        > input {
            display: none;
            // checkedの際に画像をスライドする。関節セレクタを使用し、指定したmarginの数だけ、interior１の画像を移動させる。
            &:nth-of-type(1):checked ~ .interior-carousel__slides .interior-carousel__slide:first-of-type { margin-left: 0%; }
            &:nth-of-type(2):checked ~ .interior-carousel__slides .interior-carousel__slide:first-of-type { margin-left: -100%; }
            &:nth-of-type(3):checked ~ .interior-carousel__slides .interior-carousel__slide:first-of-type { margin-left: -200%; }
            &:nth-of-type(4):checked ~ .interior-carousel__slides .interior-carousel__slide:first-of-type { margin-left: -300%; }
            &:nth-of-type(5):checked ~ .interior-carousel__slides .interior-carousel__slide:first-of-type { margin-left: -400%; }
            &:nth-of-type(6):checked ~ .interior-carousel__slides .interior-carousel__slide:first-of-type { margin-left: -500%; }

            // サムネイル画像の枠線に色をつける。
            &:nth-of-type(1):checked ~ .interior-carousel__thumbnails li:nth-of-type(1) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
            &:nth-of-type(2):checked ~ .interior-carousel__thumbnails li:nth-of-type(2) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
            &:nth-of-type(3):checked ~ .interior-carousel__thumbnails li:nth-of-type(3) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
            &:nth-of-type(4):checked ~ .interior-carousel__thumbnails li:nth-of-type(4) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
            &:nth-of-type(5):checked ~ .interior-carousel__thumbnails li:nth-of-type(5) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
            &:nth-of-type(6):checked ~ .interior-carousel__thumbnails li:nth-of-type(6) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
        }
    }

    &-carousel__slides {
        overflow: hidden;
        display: flex;
    }

    &-carousel__slide {
        display: block;
        flex: 1 0 100%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: all 500ms ease-out;

        div {
        @include aspect-ratio(2, 1);
        width: 100%;
        }
        img {
            display: block;
            flex: 1 1 auto;
            object-fit: cover;
        }
    }

    &-carousel__thumbnails {
        display: flex;
        margin: 0 -10px;
        margin-top: 20px;

        li {
            flex: 1 1 auto;
            max-width: calc((100% / 6) - 20px);
            margin: 0 10px;
        }
        label {
            display: block;
            @include aspect-ratio(1,1);

            &:hover,
            &:focus {
                cursor: pointer;
                img {
                  box-shadow: 0px 0px 0px 7px  rgba(6,9,17,0.25);
                  transition: all 500ms ease-in-out;
                }
            }
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}












