// main=====================================================================================================
.main {
    text-align: center;

    &-title {
        font-size: 3rem;
        line-height: 1.7;

        padding-top: 30vh;
        @media (min-width:980px) {
            padding-top: 20vh;
        }
    }
}
